<!doctype html>
<html>
  <head>
    <title>Designing && Debugging with DevTools</title>
    <link rel="stylesheet" type="text/css" href="assets/style.css">
  </head>
  <body>
      <header>
        <h1>Designing && Debugging with DevTools</h1>
        <h2>Startup Institute New York, December 2013</h2>
      </header>
      <div id="wrapper">
        <nav id="practice">
          <ol id="practice-sections">
            <li class="active"><h4>Part One // <span class="practice-title">The DOM: Elements & Styles</h4></span>
              <ol class="steps">
                <li>Give Chrome access to your local folder for the application to enable autosaving.</li>
                <li>Put the form fields in order based on the quantity of each item being ordered.</li>
                <li>Let's remove the flip flops node from the order form, since nobody wants to wear flip flops in the winter time.</li>
                <li>Make sure users know they are about to click the submit button by adding a hover state that changes the background color, the cursor to a hand (cursor: pointer) and darkens the border.</li>
                <li>Create a new CSS rule for a selected element</li>
                <li>Left-align the text that specifies the color choices for hats and coats being ordered.</li>
              </ol>
            </li>
            <li><h4>Part Two // <span class="practice-title">Debugging JavaScript</h4></span>
              <ol class="steps">
                <li>It seems like nothing happens when we click the submit button. Let's investigate why.</li>
                <li>We've now verified that our submit function is being called, but it still seems like the order is not going through. Check the console for errors.</li>
                <li>Investigate the stack trace for the error. Using the sources tab, let's set a breakpoint where the error is occurring and take a look around.</li>
                <li>What is data type of the value we are trying to push to? Let's correct it our .push() method works.</li>
              </ol>
            </li>
            <li><h4>Part Three // <span class="practice-title">Inspecting Network Requests</h4></span>
              <ol class="steps">
                <li>Now that we've fixed our data type so our order form gets sent, let's navigate to the network tab and watch for our request to be sent.</li>
                <li>We are hoping for a Status Code of 200, OK. Unfortunately, this isn't what we get. Click on the request and review the data that was sent, as well as the response we received.</li>
                <li>Once we understand what caused the error, let's adjust our request body so we can get that 200 OK status.</li>
                <li>Page reloads so we think it submitted just fine, but how can we be sure?</li>
              </ol>
            </li>
          </ol>
        </nav>
        <div id="workspace">
          <div id="thank-you">
            <h3>Thank you for your order!</h3>
          </div>
        </div>
      </div>

    <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
    <script src="assets/demo.js"></script>
  </body>
</html>
